.brand {
	margin-bottom: 125px;

	@media (max-width: 500px) {
		margin-bottom: 50px;
	}
}
.bike {
	position: relative;

	@include flex;
	min-height: 600px;

	@media (max-width: 720px) {
		justify-content: center;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		background: {
			repeat: no-repeat;
			size: auto, calc(100% / 3 * 2) 100%;
		}

		@media (max-width: 1000px) {
			background: {
				position: calc(100% / 3 * 2 / 2) 50%, 0 0;
				size: auto, 50% 100%;
			}
		}

		@media (max-width: 720px) {
			background: {
				position: center, 0 0;
				size: auto, cover;
			}
			filter: blur(3px);
		}
	}

	&--right {
		justify-content: end;

		@media (max-width: 720px) {
			justify-content: center;
		}

		&::before {
			background: {
				position: calc(100% / 3 * 2 / 2) 50%, 0 0;
			}

			@media (max-width: 1000px) {
				background: {
					position: 20% 50%, 0 0;
					size: auto, 50% 100%;
				}
			}

			@media (max-width: 720px) {
				background: {
					color: #fff;
					position: center, 0 0;
					size: auto, cover;
				}
			}
		}
	}

	&--left {
		@media (max-width: 720px) {
			justify-content: center;
		}

		&::before {
			background: {
				position: calc(100% / 3 * 2) 50%, top right;
			}

			@media (max-width: 1000px) {
				background: {
					position: 80% 50%, top right;
				}
			}

			@media (max-width: 720px) {
				background: {
					color: #fff;
					position: center, 0 0;
					size: auto, cover;
				}
			}
		}
	}

	&--three {
		justify-content: center;

		@media (max-width: 1000px) {
			justify-content: right;
		}

		@media (max-width: 720px) {
			justify-content: center;
		}

		&::before {
			background: {
				position: calc(100% / 3 / 3) 50%, left top, right top;
				size: auto, calc(100% / 3) 100%, calc(100% / 3) 100%;
			}

			@media (max-width: 1000px) {
				background: {
					position: calc(100% / 3 / 3) 50%, left top, left bottom;
					size: auto, 50% 50%, 50% 50%;
				}
			}

			@media (max-width: 720px) {
				justify-content: center;

				background: {
					color: #fff;
					position: center, left top, left bottom;
					size: auto, 100% 50%, 100% 50%;
				}
			}
		}
	}

	&--bg_one::before {
		background: {
			image: url("../img/bike-1/logo.png"), url("../img/bike-1/bike-1.jpg");
		}
	}

	&--bg_two::before {
		background: {
			image: url("../img/bike-2/logo.png"), url("../img/bike-2/bike-1.jpg");
		}
	}

	&--bg_three::before {
		background: {
			image: url("../img/bike-3/logo.png"), url("../img/bike-3/bike-1.jpg"),
				url("../img/bike-3/bike-3.jpg");
		}
	}

	&__content {
		position: relative;
		z-index: 10;
		@include center_f;
		flex-direction: column;
		flex: 0 1 calc(100% / 3);

		@media (max-width: 1000px) {
			flex: 0 1 50%;
		}

		@media (max-width: 720px) {
			justify-content: center;
			flex: 0 1 80%;
			margin: 10% 0;

			color: $color-black;
			background: {
				color: #d7d7d795;
			}
			border: 1px solid $color-black;
			box-shadow: 0 0 10px $color-black;
			border-radius: 30px;
		}

		@media (max-width: 480px) {
			justify-content: center;
			flex: 0 1 90%;
			margin: 5% 0;
		}
	}

	&__desc {
		position: relative;
		z-index: 200;

		@include center_f;
		flex-direction: column;
		align-content: center;
		flex: 1 1 calc(100% / 3 * 2);
		padding: 50px;
		width: 100%;

		background: linear-gradient(transparent, #fff);

		@media (max-width: 480px) {
			padding: 20px;
		}
	}

	&__showing {
		&:hover {
			.decor--triangle::after {
				background-color: $color-accent;
				transition: all 0.3s linear;
			}

			.bike__img-content {
				opacity: 0;
				transition: all 0.3s linear;
			}
		}
	}

	&__img {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media (max-width: 720px) {
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
		}
	}

	&__img-content {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		@include center_f;

		padding-top: 20px;
	}

	&__logo {
		max-height: 60%;
	}

	&__img-hover {
		@media (max-width: 720px) {
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
		}
	}
}
