.intro-aut {
	display: none;
	min-height: 100vh;
	// background-image: url(../img/bg.jpg);
	background: {
		image: url(../img/bg.jpg);
		repeat: no-repeat;
		size: cover;
		position: center;
	}
}