.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;

	font-family: 'Lato', sans-serif;
}

.container {
	max-width: calc($container + 30px);
	padding: 0 15px;
	margin: 0 auto;
}