.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;

	color: $color-grey;
	font-family: "Lato", sans-serif;
	line-height: 1.5em;
}

.container {
	max-width: calc($container + 30px);
	padding: 0 15px;
	margin: 0 auto;

	&--fullhd {
		max-width: calc(1080px + 30px);
	}
}

img {
	// fix отступа
	vertical-align: top;

	max-width: 100%;
	height: auto;
}