.desc {
	margin: 0 auto;

	text-align: center;

	&__icon {
		margin-bottom: 30px;
	}

	&__title {
		margin-bottom: 20px;

		font-size: 1.125em;
		font-weight: 700;
		text-transform: uppercase;
		color: $color-black;
	}

	&__text {
		text-align: left;
	}
}