@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h1, p {
  font-size: inherit;
  font-weight: inherit;
}

.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  color: #848789;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--fullhd {
  max-width: 1110px;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.desc {
  margin: 0 auto;
  text-align: center;
}
.desc__icon {
  margin-bottom: 30px;
}
.desc__title {
  margin-bottom: 20px;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  color: #353738;
}
.desc__text {
  text-align: left;
}

.showing {
  position: relative;
  width: 100%;
  height: 100%;
}
.showing:hover .showing__hover {
  opacity: 1;
  box-shadow: inset 0px 0px 10px #64c29e;
  transition: all 0.3s linear;
}
.showing:hover .blur {
  filter: blur(3px);
  transition: all 0.3s linear;
}
.showing__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: block;
}
.showing__static {
  width: 100%;
  height: 100%;
}
.showing__hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  gap: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  min-width: 100%;
  min-height: 100%;
  font-size: 1.2em;
  font-weight: 700;
  background-color: rgba(40, 47, 53, 0.5647058824);
  opacity: 0;
}
.showing__hover-title {
  color: #fff;
}

.header-aut {
  position: absolute;
}

.intro-aut {
  min-height: 100vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.generation {
  padding: 100px 0;
  background-color: #f7f7f7;
}
@media (max-width: 500px) {
  .generation {
    padding: 50px 0;
  }
}
.generation__text {
  text-align: center;
}

.brand {
  margin-bottom: 125px;
}
@media (max-width: 500px) {
  .brand {
    margin-bottom: 50px;
  }
}

.bike {
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  min-height: 600px;
}
@media (max-width: 720px) {
  .bike {
    justify-content: center;
  }
}
.bike::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: auto, 66.6666666667% 100%;
}
@media (max-width: 1000px) {
  .bike::before {
    background-position: 33.3333333333% 50%, 0 0;
    background-size: auto, 50% 100%;
  }
}
@media (max-width: 720px) {
  .bike::before {
    background-position: center, 0 0;
    background-size: auto, cover;
    filter: blur(3px);
  }
}
.bike--right {
  justify-content: end;
}
@media (max-width: 720px) {
  .bike--right {
    justify-content: center;
  }
}
.bike--right::before {
  background-position: 33.3333333333% 50%, 0 0;
}
@media (max-width: 1000px) {
  .bike--right::before {
    background-position: 20% 50%, 0 0;
    background-size: auto, 50% 100%;
  }
}
@media (max-width: 720px) {
  .bike--right::before {
    background-color: #fff;
    background-position: center, 0 0;
    background-size: auto, cover;
  }
}
@media (max-width: 720px) {
  .bike--left {
    justify-content: center;
  }
}
.bike--left::before {
  background-position: 66.6666666667% 50%, top right;
}
@media (max-width: 1000px) {
  .bike--left::before {
    background-position: 80% 50%, top right;
  }
}
@media (max-width: 720px) {
  .bike--left::before {
    background-color: #fff;
    background-position: center, 0 0;
    background-size: auto, cover;
  }
}
.bike--three {
  justify-content: center;
}
@media (max-width: 1000px) {
  .bike--three {
    justify-content: right;
  }
}
@media (max-width: 720px) {
  .bike--three {
    justify-content: center;
  }
}
.bike--three::before {
  background-position: 11.1111111111% 50%, left top, right top;
  background-size: auto, 33.3333333333% 100%, 33.3333333333% 100%;
}
@media (max-width: 1000px) {
  .bike--three::before {
    background-position: 11.1111111111% 50%, left top, left bottom;
    background-size: auto, 50% 50%, 50% 50%;
  }
}
@media (max-width: 720px) {
  .bike--three::before {
    justify-content: center;
    background-color: #fff;
    background-position: center, left top, left bottom;
    background-size: auto, 100% 50%, 100% 50%;
  }
}
.bike--bg_one::before {
  background-image: url("../img/bike-1/logo.png"), url("../img/bike-1/bike-1.jpg");
}
.bike--bg_two::before {
  background-image: url("../img/bike-2/logo.png"), url("../img/bike-2/bike-1.jpg");
}
.bike--bg_three::before {
  background-image: url("../img/bike-3/logo.png"), url("../img/bike-3/bike-1.jpg"), url("../img/bike-3/bike-3.jpg");
}
.bike__content {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  gap: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 1 33.3333333333%;
}
@media (max-width: 1000px) {
  .bike__content {
    flex: 0 1 50%;
  }
}
@media (max-width: 720px) {
  .bike__content {
    justify-content: center;
    flex: 0 1 80%;
    margin: 10% 0;
    color: #353738;
    background-color: rgba(215, 215, 215, 0.5843137255);
    border: 1px solid #353738;
    box-shadow: 0 0 10px #353738;
    border-radius: 30px;
  }
}
@media (max-width: 480px) {
  .bike__content {
    justify-content: center;
    flex: 0 1 90%;
    margin: 5% 0;
  }
}
.bike__desc {
  position: relative;
  z-index: 200;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  gap: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  flex: 1 1 66.6666666667%;
  padding: 50px;
  width: 100%;
  background: linear-gradient(transparent, #fff);
}
@media (max-width: 480px) {
  .bike__desc {
    padding: 20px;
  }
}
.bike__showing:hover .triangle::after {
  background-color: #64c29e;
  transition: all 0.3s linear;
}
.bike__showing:hover .bike__img-content {
  opacity: 0;
  transition: all 0.3s linear;
}
.bike__img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 720px) {
  .bike__img {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
.bike__img-content {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  gap: 0;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.bike__logo {
  max-height: 60%;
}
@media (max-width: 720px) {
  .bike__img-hover {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.triangle::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  background-color: #fff;
  transform: translateY(-50%) rotate(135deg);
}

.line::after {
  display: block;
  width: 60px;
  height: 2px;
  margin: 50px auto;
  margin-bottom: 20px;
  content: "";
  border-radius: 3px;
  background-color: #64c29e;
  box-shadow: 0 0 10px #64c29e;
}

.review {
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 500px) {
  .review {
    margin-bottom: 40px;
  }
}
.review__icon {
  margin-bottom: 30px;
}
.review__title {
  margin-bottom: 20px;
  color: #353738;
  font-size: 1.125em;
  font-weight: 700;
}
.review__time {
  color: #848789;
  font-weight: 400;
}
.review__text {
  margin-bottom: 100px;
  font-size: 1.5em;
  font-style: italic;
}
@media (max-width: 720px) {
  .review__text {
    margin-bottom: 30px;
  }
}
.dots-box {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  gap: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  border: 1px solid #848789;
  border-radius: 50%;
  box-shadow: 0 0 5px #848789;
  cursor: pointer;
}
.dot--active {
  background-color: #64c29e;
}

.shop {
  display: flex;
  flex-wrap: wrap;
}
.shop__col {
  display: flex;
  flex-direction: column;
  flex: 1 1 33.3333333333%;
  min-width: 350px;
}
@media (max-width: 600px) {
  .shop__col {
    min-width: none;
    flex: 1 1 100%;
  }
}
.shop__row {
  display: flex;
  flex: 0 1 50%;
}
.shop__item {
  position: relative;
  flex: 0 1 100%;
}
.shop__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop-footer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  gap: 0;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background-color: #282f35;
}
@media (max-width: 400px) {
  .shop-footer {
    min-height: 150px;
  }
}
.shop-footer__btn {
  display: block;
  padding: 20px 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 2px solid #848789;
}
@media (max-width: 400px) {
  .shop-footer__btn {
    padding: 20px 30px;
  }
}
.shop-footer__btn:hover {
  color: #64c29e;
  border-color: #64c29e;
  box-shadow: 0 0 10px #64c29e;
  transition: all 0.3s linear;
}/*# sourceMappingURL=index.css.map */